@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
  }

  .gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-secondary to-accent;
  }
  .gradientBg {
    @apply bg-gradient-to-r from-secondary to-accent;
  }

  .centerAbsolute {
    @apply absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2;
  }

  .footerLink {
    @apply text-primary relative before:absolute before:left-0 before:w-full before:origin-right before:scale-x-0 before:h-[1px] before:bg-accent before:-bottom-1 hover:before:origin-left hover:before:scale-x-100 before:transition-transform before:duration-500;
  }
}
